{% if currencies|length > 1 %}

	<form id="currencyForm" action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
		<select class="selectpicker usd_select">

			{% for currency in currencies %}
				{% if  currency.code == code %}
					<option>
						<strong>{{ currency.title }}</strong>
					</option>
				{% endif %}
			{% endfor %}


			{% for currency in currencies %}
				{% if  currency.code != code %}
					<option>
						<strong>{{ currency.title }}</strong>
					</option>
				{% endif %}
			{% endfor %}


		</select>
		<input type="hidden" name="code" value=""/>
		<input type="hidden" name="redirect" value="{{ redirect }}"/>
	</form>

{% endif %}


<style>
	#currencyForm {
		width: 100%;
		cursor: pointer;
	}
	.usd_select.bootstrap-select {
		max-width: unset !important;
		width: 100% !important;
		cursor: pointer !important;
	}
</style>
